.supplierform{
    position: absolute;
    left: 50%;
    align-items: center;
}

* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(0, 172, 240);
    border-radius: 4px;
    resize: vertical;
    background-color: #000000;
    color: aliceblue;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: aliceblue;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #000000e2;
    padding-left: 40px;
    padding-right: 20px;
    width: 50%;
    position: relative;
    left: 30%;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .addsupplierul{
  position: absolute;
  left: 18%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  }
  
  .savebutton{
    border: none;
  border-radius: 5px;
  outline: 0;
  color: white;
  height: 50px;
  background-color: rgb(19, 208, 28);
  cursor: pointer;
  font-size: 20px;
  text-decoration-color: rgb(254, 254, 254);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  width: 200px;
  }
  .cancelbutton{
    border: none;
  border-radius: 5px;
  outline: 0;
  color: white;
  height: 50px;
  background-color: rgb(249, 50, 10);
  cursor: pointer;
  font-size: 20px;
  text-decoration-color: rgb(254, 254, 254);
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  width: 200px;
  }
.addproductul{
  position: absolute;
  left: 18%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
 
  