.view_all_suppliers_container{
    background-color: rgb(8, 201, 195);
    margin-top: 100px;
    margin-left: 450px;
    width: 100%;
}

.title{
    color: rgb(226, 179, 216);
    font-size: x-large;
    text-align: center;
    padding-left: 100px;
}